<div id="header-wrapper">
  <div id="header-inner">
    <header>
      <div id="logo">
        
        <a href="<%= root_path %>">
         <div class="logo-text">Wojtek Smajda <span>.blog</span></div>
       </a>

      </div>
      <div class="mobileMenuToggle">
        <%= link_to "", "" %></div>
      <nav>
        <ul class="navigation">
          <li>
             <a href="http://wojteksmajda.pl/" target="_blank" >ABOUT ME // BACK TO HOMEPAGE</a>
          </li>
          <li>
             <%= link_to "RSS", "/posts.rss" %> 
            </li>
          <li>
            <!-- there was a contact page link, fix a mailer until deply -->
          </li>
          <li>
            </li>
        </ul>
      </nav>
    </header>
  </div>
</div>


