<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= I18n.t(".contact_form.views.form_mailer.auto_reply.text_html") %>
  </body>
</html>