// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#alert-wrapper {
	margin: 25px 5px;	
}  

#comment-wrapper {
	width: 800px;
  margin: 20px 120px;
} 

.social-wrapper {
  margin: 40px 120px;
} 

.IN-widget {
padding-left: 20px;
}

#post-wrapper {
  width: 900px;
	dd {
  padding-bottom: 20px;
  }  
}  

.nav .dropdown-toggle .caret {
 border-top-color: #000; 
}

.pag-wrapper {
 margin: 0 auto;
 text-align: center;	
} 

.back-edit {
padding-top: 13px;
padding-right: 30px;
}  

.nav .dropdown-toggle .caret {
border-top-color: #fff;
} 