

body {
  background-color: #fff;
  color: #000;
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.text_area {
width: 600px;
}  

.text_field {
width: 600px;  
}  

.contact {
  font-family: 'Open Sans', sans-serif; 
  font-weight: 200; 
  font-size: 35px;
  margin-top: 10px;
  color: #707070;
  margin-bottom: 30px;
}

.contact-label {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    font-size: 15px; 
    padding: 15px 0 15px;
    margin: 15px 0 15px;    
}  

.submit-create {
color: #808080;  
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
border-radius: 2px;  
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
-webkit-user-select: none;
font-family: 'Open Sans', sans-serif; 
}

.admin {
font-family: 'Open Sans', sans-serif; 
font-size: 32px;
font-weight: bold;  
}  


